
.alert-text {
    color: black;
  }

.common-style {
    color: #007BFF;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 200px;
    margin: auto;
}

/*Base button styling*/
.btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

/*Color class*/
.base-color {
  background-color: #007BFF;
  color: white;
}

/*Size class*/
.large {
  font-size: 16px;
  padding: 15px 30px;
}

.text-size {
  font-size: 25px;
}

.text-weight {
  font-weight: 900;
}

.text-color {
  color: indigo;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-header {
  font-size: 20px;
  font-weight: bold;
}


.card-content {
  font-size: 16px;
}

button.highlight {
  background-color: yellow;
  color: black;
}